.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px #02020236;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;

}

.topIconContainer {
    position: relative;
    cursor: pointer;
}

.topIconBadge {
    height: 15px;
    width: 15px;
    position: absolute;
    top:-5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvtar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}